# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local virtual environment
.venv/
venv/

# Environment secrets & local raw caches
.env
secrets.json
raw_stats.json

# Local database / raw scratch data
*.sqlite

# Frontend distribution & dependencies
node_modules/
dist/
.DS_Store
